@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,400,500,600,700|Roboto:100,300,400,500,700&display=swap");

body {
    /* font-family: "Roboto", sans-serif; */
    font-weight: normal;
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    color: #0b1c39;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: none
}

p {
    font-family: "Roboto", sans-serif;
    color: #777;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

span {
    font-family: "Josefin Sans", sans-serif
}

img,
.img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.gray-bg {
    background: #f5f5f5
}

.darkGray-bg {
    background-color: #cfd8dc !important;
}

.clear {
    clear: both
}

a,
.button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none
}

a,
button {
    color: #fff;
    outline: medium none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase
}

.hidden {
    display: none;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.capitalize {
    text-transform: capitalize
}

.section-padding {
    padding-top: 80px;
    padding-bottom: 0
}

.mb-90 {
    margin-bottom: 90px
}

.btn {
    background: #47a2ff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 30px 28px;
    border-radius: 0px;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    margin-bottom: 0;
    margin: 10px;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    -moz-user-select: none;
    border: 0;
    overflow: hidden;
    margin: 0
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4a4a4b;
    z-index: 1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px
}

.btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #fff
}

.mt-5 {
    margin-top: 5px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-45 {
    margin-top: 45px
}

.mt-50 {
    margin-top: 50px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-70 {
    margin-bottom: 70px
}

.ml-5 {
    margin-left: 5px
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-25 {
    margin-left: 25px
}

.ml-30 {
    margin-left: 30px
}

.ml-35 {
    margin-left: 35px
}

.ml-40 {
    margin-left: 40px
}

.ml-45 {
    margin-left: 45px
}

.ml-50 {
    margin-left: 50px
}

.mr-5 {
    margin-right: 5px
}

.mr-10 {
    margin-right: 10px
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px
}

.mr-25 {
    margin-right: 25px
}

.mr-30 {
    margin-right: 30px
}

.mr-35 {
    margin-right: 35px
}

.mr-40 {
    margin-right: 40px
}

.mr-45 {
    margin-right: 45px
}

.mr-50 {
    margin-right: 50px
}

.pb-80 {
    padding-bottom: 80px
}

.footer-padding {
    padding-top: 80px;
    padding-bottom: 0;
}

input:hover,
input:focus {
    outline: none !important
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #2577fd !important;
    outline: 0;
    box-shadow: none
}

.header-area .main-header {
    padding: 0px 120px
}

.header-area {
    border-bottom: 1px solid #e7e7e7;
}

.header-area .main-header .menu-wrapper {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center
}

.header-area .main-header .menu-wrapper .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1
}

.header-area .main-header .menu-wrapper .main-menu ul li a {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: #141517;
    font-weight: 600;
    padding: 41px 21px;
    display: inline-block;
    text-transform: capitalize;
    display: block;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.header-area .main-header .menu-wrapper .main-menu ul li:hover>a {
    color: #47a2ff
}

.header-area .main-header .menu-wrapper .main-menu ul li.hot {
    position: relative
}

.header-area .main-header .menu-wrapper .main-menu ul li.hot::before {
    position: absolute;
    content: "HOT";
    background: #ff003c;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    top: 19px;
    right: -13px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 3px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500
}

.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu::before {
    top: -8px
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    border-top: 3px solid #47a2ff;
    border-radius: 7px 7px 3px 3px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    color: #0b1c39;
    text-transform: capitalize
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a:hover {
    color: #47a2ff;
    background: none
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu::before {
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent red transparent;
    content: "";
    top: -5px;
    left: 13%;
    position: absolute;
    transition: .3s;
    z-index: -1;
    overflow: hidden;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.header-area .main-header .menu-wrapper .header-right ul {
    display: flex !important;
    justify-content: space-between
}

.header-area .main-header .menu-wrapper .header-right .nav-search {
    display: inline-block
}

.header-area .main-header .menu-wrapper .header-right span {
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    padding: 31px 19px
}

.header-area .main-header .menu-wrapper .header-right span:hover {
    color: #47a2ff
}

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

.mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important
}

.mobile_menu .slicknav_menu .slicknav_btn {
    top: -30px
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background-color: #47a2ff !important
}

.mobile_menu .slicknav_menu .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}

.mobile_menu .slicknav_menu .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(2) {
    display: none;
}

.mobile_menu .slicknav_menu .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(3) {
    transform: rotate(-45deg);
}

.mobile_menu .slicknav_menu .slicknav_nav {
    margin-top: 16px !important;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.10);
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: #47a2ff
}

.mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 17px;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important
}

.search-model-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999
}

.search-model-box .search-model-form {
    padding: 0 15px
}

.search-model-box .search-model-form input {
    width: 500px;
    font-size: 40px;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    color: #999
}

.search-model-box .search-close-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.section-tittle h2 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1
}

.footer-area .footer-logo {
    margin-bottom: 40px
}

.footer-area .footer-pera p {
    color: #868c98;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8
}

.footer-area .footer-pera.footer-pera2 p {
    padding: 0
}

.footer-area .footer-tittle h4 {
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif
}

.footer-area .footer-tittle ul li {
    color: #012f5f;
    margin-bottom: 15px
}

.footer-area .footer-tittle ul li a {
    color: #868c98;
    font-weight: 300
}

.footer-area .footer-tittle ul li a:hover {
    color: #47a2ff;
    padding-left: 5px
}

.mt-10 {
    margin-top: 10px
}

.mb-30 {
    margin-bottom: 30px
}
.btn_1 {
    display: inline-block;
    padding: 17px 50px;
    border-radius: 5px;
    background-color: #2577fd;
    border: 2px solid #2577fd;
    font-size: 15px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.btn_1:hover {
    background-color: #fff;
    color: #47a2ff
}

.btn_3 {
    display: inline-block;
    padding: 18px 36px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #2577fd;
    font-size: 15px;
    font-weight: 700;
    color: #2577fd;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.btn_3:hover {
    background-color: #2577fd;
    color: #fff
}

.btn_2 {
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #1e1e1e;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize
}

.btn_2:hover {
    color: #fff !important;
    background-color: #2577fd
}

.btn_danger {
    display: inline-block;
    padding: 17px 50px;
    border-radius: 5px;
    background-color: red;
    border: 2px solid red;
    font-size: 15px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.btn_danger:hover {
    background-color: #fff;
    color: red;
}

.popular-items .single-popular-items {
    display: block;
    transition: all 0.4s ease;
}

.popular-items .single-popular-items:hover {
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.10);
}

.popular-items .single-popular-items .popular-img {
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
}

.popular-items .single-popular-items .popular-img img {
    width: 100%
}

.popular-items .single-popular-items .popular-img .img-cap {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background: #47a2ff;
}

.popular-items .single-popular-items .popular-img .img-cap .meta-wrapper {
    display: flex;
    align-items: center;
}

.popular-items .single-popular-items .popular-img .img-cap i {
    border: 4px solid #fff;
    border-radius: 50px;
    padding: 10px 11px;
    transition: all 0.4s ease;
}

.popular-items .single-popular-items .popular-img .img-cap i:hover {
    background-color: #FFFFFF;
    color: #47a2ff;
}

.popular-items .single-popular-items .popular-caption h3 {
    color: #444444;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px
}

.popular-items .single-popular-items .popular-img .img-cap .meta-wrapper h5 {
    color: #FFFFFF;
}

.popular-items .single-popular-items .popular-caption h3 span {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}

.popular-items .single-popular-items .popular-caption span {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-align: left;
}

.popular-items .nav-tabs {
    margin-bottom: 15px;
    padding-bottom: 0px;
    position: relative;
    border: 0;
    display: flex;
    justify-content: center
}

.popular-items .nav-tabs .nav-link {
    border: 0;
    border-bottom: 2px solid transparent
}

.popular-items .nav-tabs .nav-item {
    padding-bottom: 10px;
    display: block;
    color: #1b1b1b;
    text-transform: capitalize;
    font-size: 16px
}

.popular-items .nav-tabs .nav-item.show .nav-link,
.popular-items .nav-tabs .nav-link.active {
    background: none;
    border-bottom: 2px solid #ff5757;
    z-index: 5;
    position: relative
}

.popular-items .nice-select {
    background-color: #f2f2f2;
    border-radius: 30px;
    border: none;
    color: #333333;
    height: 31px;
    line-height: 31px;
    padding-right: 47px
}

.popular-items .nice-select::after {
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    height: 7px;
    width: 7px;
    margin-top: -4px;
    right: 17px
}

.popular-items .nice-select .list {
    background-color: #fff;
    border-radius: 0;
    width: 100%
}

.product_image_area {
    margin-top: 80px;
    margin-bottom: 80px;
}

.product_image_area .owl-nav button.owl-prev,
.product_image_area .owl-nav button.owl-next {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #E4D3DF;
    color: #fff;
    background-color: #E4D3DF;
    position: absolute;
    left: 30px;
    top: 54%;
    -webkit-transition: .5s;
    transition: .5s
}

.product_image_area .owl-nav button.owl-prev:hover,
.product_image_area .owl-nav button.owl-next:hover {
    background-color: #47a2ff;
    color: #fff
}

.product_image_area .owl-nav button.owl-next {
    text-indent: 2px;
    left: auto;
    right: 30px
}

.product_image_area .single_product_text {
    margin: 100px 0 200px
}

.product_image_area .single_product_text h3 {
    font-size: 40px
}

.product_image_area .single_product_text p {
    margin-top: 50px;
    color: #707070
}

.card_area {
    margin-top: 20px
}

.card_area .product_count_area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card_area .product_count_area .qty {
    flex: 1 1 100%;
}

.card_area label {
    margin: 0 0 5px 0 !important;
    color: #47a2ff;
    display: block;
    font-weight: 600;
}

.productPrice p {
    font-size: 20px;
    font-weight: 600;
}

.card_area .product_count {
    border: 1px solid #47a2ff;
    margin: 0;
}

.card_area .size-wrapper .select-size .nice-select {
    border: 1px solid #47a2ff !important;
    border-radius: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    /* font-family: "Roboto",
    sans-serif;
    font-size: 16px;
    */
}

.card_area .size-wrapper .select-size .nice-select .list {
    right: 0;
}

.card_area .size-wrapper .select-size .nice-select .option {
    color: #000000 !important;
}

.card_area .size-wrapper .select-size .nice-select .option:hover,
.card_area .size-wrapper .select-size .nice-select .option:focus,
.card_area .size-wrapper .select-size .nice-select .option.selected.focus {
    background-color: #47a2ff !important;
    color: #ffffff !important;
}

.card_area .product_count .product_count_item {
    width: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block
}

.card_area .product_count input {
    background-color: #47a2ff;
    color: #fff;
    border: 1px solid #47a2ff;
    color: #fff
}

.card_area .add_to_cart {
    margin-top: 60px
}

input:focus {
    outline-offset: 0
}

.cart_area .cart_inner table input[type="checkbox"],
.items_table table input[type="checkbox"],
.cancellation .refund_table table input[type="checkbox"] {
    display: none;
}

.cart_area .cart_inner table .check-icon,
.items_table table .check-icon,
.cancellation .refund_table table .check-icon {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 4px;
    border: solid 1px #d6dce3;
    background-color: #f0f3f6;
    border-radius: 3px;
    transition: .2s all ease-in-out;
}

.cart_area .cart_inner table .check-icon:before,
.items_table table .check-icon::before,
.cancellation .refund_table table .check-icon::before {
    content: "\f00c";
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    text-align: center;
    top: 1px;
    transform: scale(1.5);
    transition: .2s all ease-in-out;
    opacity: 0;
}

.cancellation .refund_table table .check-icon::before {
    left: 0;
}

.cart_area .cart_inner table input[type="checkbox"]:checked+.check-icon:before,
.items_table table input[type="checkbox"]:checked+.check-icon:before,
.cancellation .refund_table table input[type="checkbox"]:checked+.check-icon:before {
    transform: scale(1);
    opacity: 1;
}

.cart_area .cart_inner table input[type="checkbox"].checkbox:checked+.check-icon,
.items_table table input[type="checkbox"]:checked+.check-icon,
.cancellation .refund_table table input[type="checkbox"]:checked+.check-icon {
    border-color: #2577fd;
    background: #2577fd;
}

.cart_area .cart_inner table.table,
.items_table table.table {
    border-bottom: none !important;
}

.cart_area .cart_inner table tbody tr td,
.items_table table tbody tr td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart_area .cart_inner table tbody tr td label,
.items_table table tbody tr td label {
    margin-bottom: 0 !important;
}

.cart_area .cart_inner table tbody tr td h5.price,
.items_table table tbody tr td h5.price {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #000000;
}

.cart_area .cart_inner table tbody tr td .item_name,
.items_table table tbody tr td .item_name {
    font-size: 18px;
    color: #000000;
}

.cart_area .cart_inner table tbody tr td .total,
.cart_area .cart_inner table tbody tr td .total_amnt,
.items_table table tbody tr td .total,
.items_table table tbody tr td .total_amnt {
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 22px !important;
    color: #000000 !important;
    font-weight: 700 !important;
}

.payment-methods .img-wrapper {
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.06);
    transition: all 0.5s ease;
}

.payment-methods .img-wrapper:hover {
    transform: scale(1.06);
}

.payment-methods .img-wrapper img {
    max-width: 100%;
    width: 200px;
}

.billing_details .contact_form .nice-select {
    width: 100%;
    padding-left: 14px;
}

.nice-select:focus {
    border: 1px solid #2577fd !important;
}

.billing_details .contact_form .nice-select ul {
    width: 100%;
}

.billing_details .contact_form .nice-select .option {
    color: #000000 !important;
}

.billing_details .contact_form .nice-select .option:hover,
.billing_details .contact_form .nice-select .option:focus,
.billing_details .contact_form .nice-select .option.selected.focus {
    background-color: #47a2ff !important;
    color: #ffffff !important;
}

.billing_details .contact_form .nice-select span.current {
    font-family: "Roboto", sans-serif;
    color: #919191;
    font-size: 14px;
    font-weight: 500;
}

.billing_details .contact_form input::placeholder {
    font-family: "Roboto", sans-serif;
    color: #919191;
    font-size: 14px;
    font-weight: 500;
}

.billing_details .contact_form input::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    color: #919191;
    font-size: 14px;
    font-weight: 500;
}

.billing_details .contact_form input::-moz-placeholder {
    font-family: "Roboto", sans-serif;
    color: #919191;
    font-size: 14px;
    font-weight: 500;
}

.eq-height {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.success-message {
    font-size: 24px;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    color: #4F8A10;
    background-color: #DFF2BF;
}

.fail-message {
    font-size: 24px;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    color: #cc0026;
    background-color: #facccc;
}

.h-full {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.eq-height .row {
    margin-top: auto;
}

.cart_area .product_count {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
    overflow: hidden
}

.cart_area .product_count input {
    width: 76px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding-left: 10px
}

.cart_area .product_count .input-number-increment {
    position: absolute;
    right: 0;
    top: -7px;
    padding: 10px;
    border-left: 1px solid #ddd;
    display: inline-block
}

.cart_area .product_count .input-number-increment:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 1px;
    background-color: #ddd
}

.cart_area .product_count .input-number-decrement {
    position: absolute;
    right: 0;
    bottom: -9px;
    padding: 10px;
    border-left: 1px solid #ddd;
    display: inline-block
}


.product_description_area {
    padding-bottom: 120px;
    margin-top: 60px
}

.product_description_area .nav.nav-tabs {
    display: block;
    border: none;
    padding: 10px 0px
}

.product_description_area .nav.nav-tabs li {
    display: inline-block;
    margin-right: 7px
}

.product_description_area .nav.nav-tabs li:last-child {
    margin-right: 0px
}

.product_description_area .nav.nav-tabs li a {
    padding: 0px;
    border: none;
    line-height: 38px;
    background: #fff;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    padding: 0px 30px;
    color: #415094;
    font-size: 13px;
    font-weight: normal;
    border-radius: 50px
}

.product_description_area .nav.nav-tabs li a.active {
    background: #2577fd;
    color: #fff;
    border-color: #2577fd
}

.product_description_area .tab-content {
    padding-top: 30px
}

.product_description_area .tab-content .total_rate .box_total {
    background: #f7f7f7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd
}

.product_description_area .tab-content .total_rate .box_total h4 {
    color: #2577fd;
    font-size: 48px;
    font-weight: bold
}

.product_description_area .tab-content .total_rate .box_total h5 {
    color: #415094;
    margin-bottom: 0px;
    font-size: 24px
}

.product_description_area .tab-content .total_rate .box_total h6 {
    color: #415094;
    margin-bottom: 0px;
    font-size: 14px;
    color: #47a2ff;
    font-weight: normal
}

.product_description_area .tab-content .total_rate .rating_list {
    margin-bottom: 30px
}

.product_description_area .tab-content .total_rate .rating_list h3 {
    font-size: 18px;
    color: #415094;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin-bottom: 10px
}

.product_description_area .tab-content .total_rate .rating_list .list li a {
    font-size: 14px;
    color: #47a2ff
}

.product_description_area .tab-content .total_rate .rating_list .list li a i {
    color: #fbd600
}

.product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
    color: #eeeeee
}

.product_description_area .tab-content .table {
    margin-bottom: 0px
}

.product_description_area .tab-content .table tbody tr td {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 14px;
    padding-bottom: 14px
}

.product_description_area .tab-content .table tbody tr td h5 {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    color: #47a2ff;
    margin-bottom: 0px;
    white-space: nowrap
}

.product_description_area .tab-content .table tbody tr:first-child td {
    border-top: 0px
}

.cart_inner .table {
    /* margin-bottom: 30px; */
    border-bottom: 1px solid #ddd
}

.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 18px;
    font-weight: 500;
    /* font-family: "Playfair Display", serif; */
    color: #47a2ff;
    border-bottom: 0px !important;
    /* text-transform: uppercase; */
}

.cart_inner .table tbody tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center
}

.cart_inner .table tbody tr td .media .d-flex {
    padding-right: 30px
}

.cart_inner .table tbody tr td .media .d-flex img {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    max-width: 150px
}

.cart_inner .table tbody tr td .media .media-body {
    vertical-align: middle;
    align-self: center
}

.cart_inner .table tbody tr td .media .media-body p {
    margin-bottom: 0px
}

.cart_inner .table tbody tr td h5 {
    font-size: 14px;
    color: #415094;
    font-family: "Playfair Display", serif;
    margin-bottom: 0px
}

.cart_inner .table tbody tr td .product_count {
    margin-bottom: 0px
}

.cart_inner .table tbody tr td .product_count input {
    width: 100px;
    padding-left: 30px;
    height: 50px;
    outline: none;
    box-shadow: none
}

.cart_inner .table tbody tr td .product_count .increase {
    top: -2px
}

.cart_inner .table tbody tr td .product_count .increase:before {
    content: "";
    height: 40px;
    width: 1px;
    position: absolute;
    left: -3px;
    top: 0px;
    background: #eeeeee
}

.cart_inner .table tbody tr td .product_count .increase:after {
    content: "";
    height: 1px;
    width: 30px;
    position: absolute;
    left: -3px;
    top: 22px;
    background: #eeeeee
}

.cart_inner .table tbody tr td .product_count .reduced {
    bottom: -6px
}

.cart_inner .table tbody tr.bottom_button .gray_btn {
    line-height: 38px;
    background: #f9f9ff;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 0px 40px;
    display: inline-block;
    color: #415094;
    text-transform: uppercase;
    font-weight: 500
}

.cart_inner .table tbody tr.bottom_button td:last-child {
    width: 60px
}

.cart_inner .table tbody tr.bottom_button td .cupon_text {
    margin-left: -446px
}

.cart_inner .table tbody tr.bottom_button td .cupon_text input {
    width: 200px;
    padding: 0px 15px;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    height: 40px;
    font-size: 14px;
    color: #cccccc;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    margin-right: -3px;
    outline: none;
    box-shadow: none
}

.cart_inner .table tbody tr.bottom_button td .cupon_text input.placeholder {
    font-size: 14px;
    color: #cccccc;
    font-family: "Playfair Display", serif;
    font-weight: normal
}

.cart_inner .table tbody tr.bottom_button td .cupon_text input:-moz-placeholder {
    font-size: 14px;
    color: #cccccc;
    font-family: "Playfair Display", serif;
    font-weight: normal
}

.cart_inner .table tbody tr.bottom_button td .cupon_text input::-moz-placeholder {
    font-size: 14px;
    color: #cccccc;
    font-family: "Playfair Display", serif;
    font-weight: normal
}

.cart_inner .table tbody tr.bottom_button td .cupon_text input::-webkit-input-placeholder {
    font-size: 14px;
    color: #cccccc;
    font-family: "Playfair Display", serif;
    font-weight: normal
}

.cart_inner .table tbody tr.bottom_button td .cupon_text .main_btn {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0px 38px;
    margin-right: -3px
}

.cart_inner .table tbody tr.bottom_button td .cupon_text .gray_btn {
    padding: 0px 40px
}

.cart_inner .table tbody tr.shipping_area td:nth-child(3) {
    vertical-align: top
}

.cart_inner .table tbody tr.shipping_area .shipping_box {
    margin-left: -250px;
    text-align: right
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li {
    margin-bottom: 12px;
    color: #47a2ff
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li input {
    margin-left: 10px
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li:last-child {
    margin-bottom: 0px
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li a {
    padding-right: 30px;
    font-size: 14px;
    color: #47a2ff;
    position: relative
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:before {
    content: "";
    height: 16px;
    width: 16px;
    border: 1px solid #cdcdcd;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%)
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:after {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #2577fd;
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li.active a:after {
    opacity: 1
}

.cart_inner .table tbody tr.shipping_area .shipping_box h6 {
    font-size: 14px;
    font-weight: normal;
    color: #415094;
    font-family: "Playfair Display", serif;
    margin-top: 20px;
    margin-bottom: 20px
}

.cart_inner .table tbody tr.shipping_area .shipping_box h6 i {
    color: #47a2ff;
    padding-left: 5px
}

.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select {
    display: block;
    width: 100%;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    height: 40px;
    margin-bottom: 20px
}

.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list {
    width: 100%;
    border-radius: 0px
}

.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list li {
    font-size: 14px;
    font-weight: normal;
    color: #47a2ff
}

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner {
    margin-left: -388px
}

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .main_btn {
    height: 40px;
    padding: 0px 30px;
    line-height: 38px;
    text-transform: uppercase
}

.checkout_area p {
    font-size: 14px
}

.checkout_area .form-control {
    font-size: 14px;
    height: 40px
}

.checkout_area .form-control {
    border: 1px solid #eee
}

.checkout_area .form-control :focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    outline: 0;
    box-shadow: none
}

.checkout_area .form-control .form-control input {
    height: 50px
}

.post_code {
    display: block;
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    height: 40px;
    margin-bottom: 20px;
    padding: 8px 15px
}

.check_title h2 {
    font-size: 14px;
    font-weight: normal;
    font-family: "Playfair Display", serif;
    background: #f7f7f7;
    line-height: 40px;
    padding-left: 30px;
    margin-bottom: 0px
}

.buy-product h3.section-title {
    background-color: #2577fd;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 26px;
}

.agreement {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.agreement input[type="checkbox"] {
    position: relative;
    float: right;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    margin-left: 5px;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    border-radius: .25em;
    }

    .agreement input:checked[type="checkbox"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }

    .agreement input:checked {
        background-color: #0d6efd;
        border-color: #0d6efd;
}

.agreement .check-icon {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 4px;
    border: solid 1px #d6dce3;
    background-color: #f0f3f6;
    border-radius: 3px;
    transition: .2s all ease-in-out;
}

.agreement .check-icon::before {
    content: "\f00c";
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    text-align: center;
    top: 1px;
    transform: scale(1.5);
    transition: .2s all ease-in-out;
    opacity: 0;
}

.agreement input[type="checkbox"]:checked+.check-icon {
    border-color: #2577fd;
    background: #2577fd;
}

.agreement input[type="checkbox"]:checked+.check-icon:before {
    transform: scale(1);
    opacity: 1;
}

.cancellation .refund_table h3.transaction-title {
    font-family: "Roboto", sans-serif;
    color: #7b8d93;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.cancellation .refund_table table .customerName img {
    max-width: 30px;
    margin-right: 10px;
}

.cancellation .refund_table table td.darkGray-bg span {
    font-family: "Roboto", sans-serif;
    color: #9da6a9;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.cancellation .refund_table table thead th {
    border: none !important;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    color: #7b8d93;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.cancellation .refund_table table tbody td {
    border: none !important;
    vertical-align: middle;
}

.cancellation .refund_table table td.darkGray-bg {
    border: 1px solid #ffffff !important;
}

/* Media Queries */

@media only screen and (min-width: 1200px) and (max-width: 3640px) {
    .container {
        max-width: 1170px
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600.98px) {
    .header-area .main-header {
        padding: 0px 10px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-area .main-header {
        padding: 0px 10px
    }

    .header-area .main-header .menu-wrapper .main-menu ul li a {
        padding: 41px 15px
    }

    .product_image_area .single_product_text p {
        margin-top: 20px
    }

    .product_image_area .single_product_text {
        margin: 50px 0 80px
    }

    .section_tittle {
        margin-bottom: 40px
    }

    .section_tittle h2 {
        font-size: 35px;
        line-height: 40px
    }
}

@media (max-width: 991.98px) {
    .product_image_area .single_product_text p {
        margin-top: 20px
    }

    .product_image_area .single_product_text h3 {
        font-size: 25px
    }

    .product_image_area .single_product_text h3 br {
        display: none
    }

    .product_image_area .single_product_text {
        margin: 40px 0 70px
    }

    .card_area .product_count .product_count_item {
        width: 45px
    }

    .section_tittle {
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .header-area .main-header {
        padding: 22px 0px
    }

    .header-area .main-header .menu-wrapper .header-right {
        margin-right: 82px
    }

    .header-area .main-header .menu-wrapper .header-right span {
        padding: 21px 19px
    }

    .header-sticky.sticky-bar.sticky {
        padding: 22px 0px
    }

    .section-tittle h2 {
        font-size: 37px
    }

    .section_tittle h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .header-area .main-header {
        padding: 22px 0px
    }

    .header-sticky.sticky-bar.sticky .header-right {
        display: none;
    }

    .header-area .main-header .menu-wrapper .header-right {
        margin-right: 73px
    }

    .search-model-box .search-model-form input {
        width: 251px;
        font-size: 26px
    }
}

@media (max-width: 576.98px) {
    .section_tittle h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 15px
    }
    .cancellation .refund_table table td.customerName {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cancellation .refund_table .refundBtn_inner {
        float: none !important;
    }

    .cancellation .refund_table .refundBtn_inner a {
        display: block;
    }
}

@media (max-width: 575.98px) {
    .header-area .main-header {
        padding: 22px 0px
    }

    .header-area .main-header .menu-wrapper .header-right {
        position: relative;
        bottom: -73px;
        z-index: 3;
        right: 5px;
    }

    .header-sticky.sticky-bar.sticky .header-right {
        display: none
    }

    .header-area .main-header .menu-wrapper .header-right span {
        padding: 6px 9px
    }

    .section-tittle h2 {
        font-size: 33px
    }

    .footer-area .footer-logo {
        margin-bottom: 10px;
    }

    .product_image_area .action-buttons a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .cart_area .checkout_btn_inner {
        float: none !important;
    }

    .cart_area .checkout_btn_inner a {
        display: block;
    }

    .cart_area .cart_inner table tbody tr td .total,
    .cart_area .cart_inner table tbody tr td .total_amnt,
    .items_table table tbody tr td .total,
    .items_table table tbody tr td .total_amnt {
        font-size: 18px !important;
    }

    .eq-height img {
        max-width: 200px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767.98px) {
    .section_tittle h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 15px
    }
}
.cursor-pointer {
    cursor: pointer;
}

.agreeTerms {
    text-align: right;
}
.autoBill {
    margin-top: 5px;
}
.subTotal {
    background-color: #f7f7f7
}